// 状态栏
$status-height: 40rpx;
// 导航栏
$navigation-height: 88rpx;
// tabbar高度
$tabbar-height: 110rpx;
// tabbar图标宽高
$tabbar-icon: 40rpx;
// 按钮高度
$btn-height: 92rpx;
// 页面间距
$page-spacing: 32rpx;
// 组件间距
$spacing: 16rpx;
// 轮播图高度
$carousel-height: 340rpx;
// 文字相关
$font-size-sm: 24rpx;
$font-size-base: 28rpx;
$font-size-lg: 34rpx;


// 颜色相关
// 颜色
$color-g: #f5f5f5;
$color-f: #ffffff;
// 字体颜色
$color-b: #333333;
$color-999: #999999;
// 主要颜色
$primary-color: #1b66ff;
// 分割线颜色
$parting-line-color: #979797;
// 链接颜色
$link-color: #167ADE;
$tips-color: #f24724;
$error-color: #f4333c;
// 金刚区
$jg-bg-color: #f3f7fb;