.f1 {
  flex: 1
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}


.rela {
  position: relative;
}

.abso {
  position: absolute;
}

.fixed {
  position: fixed;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-ac {
  display: flex;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-e,
.align-end {
  align-items: flex-end;
}

.flex-c,
.flex-column {
  flex-direction: column;
}

.justify-b,
.justify-between {
  justify-content: space-between;
}

.justify-c,
.justify-center {
  justify-content: center;
}

.justify-e,
.justify-end {
  justify-content: flex-end;
}

.t-c {
  text-align: center;
}

.t-l {
  text-align: left;
}

.t-r {
  text-align: right;
}

.box-s {
  box-sizing: border-box;
}

.padding {
  padding: $spacing-page;
}

.padding-lr {
  padding: 0 $spacing;
}

.padding-c {
  padding: $spacing-content;
}


.p-t {
  padding-top: $spacing;
}

.p-b {
  padding-bottom: $spacing;
}

.p-b-tabbar {
  padding-bottom: $tabbar-height;
}

.m-t {
  margin-top: $spacing;
}

.m-t-c {
  margin-top: $spacing-content;
}

.m-b {
  margin-bottom: $spacing;
}

.m-b-c {
  margin-bottom: $spacing-content;
}

.m-r {
  margin-right: $spacing;
}

.m-l-c {
  margin-left: $spacing-content;
}

.m-r-c {
  margin-right: $spacing-content;
}

.m-auto {
  margin: auto;
}

.m-rl-c {
  margin-left: $spacing-content;
  margin-right: $spacing-content;
}

.l-b-0 {
  left: 0;
  bottom: 0;
}

// 小字体
.text24 {
  font-size: $font-size-sm;
}

// 中字体
.text28 {
  font-size: $font-size-base;
}

// 大字体
.text32 {
  font-size: $font-size-lg;
}

// 文本溢出
.text-e {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-d {
  text-decoration: line-through;
}

// 文字对齐
.t-a-l {
  text-align-last: justify;
  width: 120rpx;
}

.t-c-b {
  color: $color-b;
}

.t-c-f {
  color: $color-f;
}

.t-c-r {
  color: $color-r;
}


.t-c-g {
  color: $color-7;
}

.t-c-z {
  color: $primary-color;
}

.t-c-9 {
  color: $color-9;
}

.bg-c-f {
  background: $color-f;
}

.bg-c-g {
  background: $color-g;
}

.border-r {
  border-radius: $spacing;
}

.border-r-c {
  border-radius: $spacing-content;
}

.border-b-l {
  border-bottom: 1px solid #EEEEEE;
}

.border-t-l {
  border-top: 1px solid #EEEEEE;
}

.required {
  position: relative;
  padding-left: 20rpx;

  &::before {
    content: "*";
    color: red;
    font-size: 30rpx;
    position: absolute;
    left: 0;
  }
}

.icon-style {
  width: $tabbar-icon;
  height: $tabbar-icon;
}

// 允许文本换行
.w-s-p {
  white-space: pre-wrap
}

// 自定义弹框样式
.xpx-modal-mask {
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99999;
}

.xpx-modal {
  width: 520rpx;
  padding: 40rpx;

  &-icon {
    width: 108rpx;
    height: 108rpx;
    margin-bottom: 48rpx;
  }

  &-slot {
    max-height: 60vh;
    overflow: scroll;
    margin-bottom: 48rpx;
  }

  &-btn {
    line-height: 72rpx;
    border-radius: 16rpx;
  }

  &-cancel-btn {
    color: #132334;
    background-color: #eaeaea;
  }

  &-confirm-btn {
    color: #ffffff;
    background-color: #2471ff;
  }
}