// 公共样式
.rela {
  position: relative;
}

.abso {
  position: absolute;
}

.fixed {
  position: fixed;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.f1 {
  flex: 1
}

.flex-wrap {
  flex-wrap: wrap;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.justify-b,
.justify-between {
  justify-content: space-between;
}

.justify-c,
.justify-center {
  justify-content: center;
}

.justify-e,
.justify-end {
  justify-content: flex-end;
}

.align-c,
.align-center {
  align-items: center;
}

.t-c {
  text-align: center;
}

.t-l {
  text-align: left;
}

.t-r {
  text-align: right;
}

.padding {
  padding: $spacing;
}

.p-t {
  padding-top: $spacing;
}

.p-d {
  padding-bottom: $spacing;
}

.m-t {
  margin-top: $spacing;
}

.m-b {
  margin-bottom: $spacing;
}

.m-b-12 {
  margin-bottom: 12rpx;
}

.m-auto {
  margin: auto;
}

.title {
  font-family: PingFang SC, PingFang SC;
  font-weight: bold;
  font-size: 32rpx;
}

.text {
  font-family: PingFang SC, PingFang SC;
  font-size: 26rpx;
}

.text2 {
  font-family: PingFang SC, PingFang SC;
  font-size: 30rpx;
}

.text3 {
  font-family: PingFang SC, PingFang SC;
  font-size: 32rpx;
}

.text-e {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 文字对齐
.t-a-l {
  text-align-last: justify;
}

.input-text {
  font-family: PingFang SC, PingFang SC;
  font-size: 26rpx;
  color: #777777;
}

.t-c-f {
  color: #fff;
}

.t-c-g {
  color: #777777;
}

.t-c-z {
  color: #3265F8;
}

.bg-c-f {
  background: #fff;
}

.border-r-16 {
  border-radius: 16rpx;
}

.btn-style {
  width: 554rpx;
  height: 98rpx;
  line-height: 98rpx;
  background: #3265F8;
  border-radius: 98rpx;
  margin: auto;
}

.btn-transform {
  left: 50%;
  bottom: $spacing;
  transform: translate(-50%);
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.t-w {
  width: 110rpx;
}

.radio {
  width: 24rpx;
  height: 24rpx;
  border-radius: 50%;
  margin-right: 10rpx;
  background: #d9d9d9;

  &-color {
    background: #25b0ff;
  }
}

.required {
  position: relative;
  padding-left: 20rpx;

  &::before {
    content: "*";
    color: red;
    font-size: 30rpx;
    position: absolute;
    left: 0;
  }
}

.input-box {
  padding: 22rpx 20rpx;
  background: #f2fbff;
  border-radius: 12rpx;
}